{
    "presets": [
        [
            "@babel/preset-env", {
                "modules": false
            }
        ],
        "@babel/react",
        [
            "@babel/typescript", { 
                "isTSX": true, 
                "allExtensions": true 
            }
        ]
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        [
            "@babel/syntax-typescript", { 
                "isTSX": true
            }
        ]
    ]
}