# GOOGLE
Language: Cpp
BasedOnStyle: Google

# Basic style
ColumnLimit: 80
IndentWidth: 2

# My style
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: true
AllowShortCaseLabelsOnASingleLine: true

# Pointer style
DerivePointerAlignment: false
PointerAlignment: Left
