---
BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 2

AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
---
Language: Cpp

SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: true

DerivePointerAlignment: false
PointerAlignment: Left