.UnSelectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.HideScrollbars::-webkit-scrollbar {
  width: 0 !important;
}

.Text {
  font-size: 1.2em;
}
@media only screen and (max-width: 900px) {
  .Text {
    font-size: 1.15em;
  }
}
@media only screen and (max-width: 700px) {
  .Text {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 500px) {
  .Text {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 400px) {
  .Text {
    font-size: 0.9em;
  }
}
